[submodule "frontend/@nextgis"]
	path = frontend/@nextgis
	url = git@github.com:nextgis/nextgis_frontend.git
[submodule "frontend/@nextgis_vuetify"]
	path = frontend/@nextgis_vuetify
	url = git@github.com:nextgis/nextgis_frontend_vuetify.git
